@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300;400&display=swap');

$font-header: 'Open Sans', sans-serif;
$font-text: 'Roboto', sans-serif;

$color-lighter: hsl(0, 0%, 100%);
$color-light: hsl(0, 0%, 75%);
$color-dark: hsl(0, 20%, 10%);
$color-darker: hsl(0, 0%, 0%);
$color-detail: hsl(100, 66%, 66%);
